<p id="notice"><%= notice %></p>

<p>
  <b>text1:</b>
  <%= @table.string1 %>
</p>

<p>
  <b>text2:</b>
  <%= @table.string2 %>
</p>

<p>
  <b>id:</b>
  <%= @table.id %>
</p>


<%= link_to 'Bakåt', tables_path %>
